* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bg_default {}


body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(67, 72, 81)
}
hr {
    border-top: rgb(246, 248, 249);
    margin-top: 10px;
    margin-bottom: 15px;
}

.rientro {
    margin-left: 1cm;
}

.done {
    color: rgb(57, 202, 176);
}

.not_done{
    color: red;
}

.cerchio {
    display: inline-block;
    height: 18px;
    width: 18px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 8pt;
    margin-bottom: 3px;
}

.paragrafo {
    padding: 5px 0;
    line-height: 2;
}

.forma_etichetta{
    display:inline-block;
    color: white;
    font-size: 8pt;
    border-radius: 20px;
    width: 70px;
    text-align: center;
}

.etichetta_azzurra {
background-color:  rgb(20, 170, 245);
}
#logo {
    padding: 10px;
}

#div_logo {
    height: 2cm;
}

#sfondo_pagina {
    background-color: rgb(246, 248, 249);
    padding: 1cm;
}

#box_lista {
    width: 70%;
    background-color: white;
    margin: auto;
    margin-top: 0.5cm;
    padding: 10px 0px 30px 0px;
    border-radius: 7px
}

#box_add_task {
    background-color: rgb(20, 170, 245);
    display: inline-block;
    padding: 7px;
    border-radius: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    }

#box_add_section {
    display: inline-block;
    border: 1px solid lightgrey;
    padding: 6px;
    border-radius: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

#etichetta_viola {
    background-color: rgb(171, 93, 230);
}

#etichetta_verde {
    background-color: rgb(57, 202, 176);
}

#etichetta_arancione {
    background-color: orange;
}

#etichetta_fuxia {
    background-color: rgb(236, 74, 157);
}

#etichetta_lime {
    background-color: rgb(163, 209, 22);
}