* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bg_default {}


body {
    font-family: "Noto Sans", sans-serif;
    color: rgb(67, 72, 81)
}
hr {
    border-top: rgb(246, 248, 249);
    margin-top: 10px
}

.rientro {
    margin-left: 1cm;
}

.done {
    color: rgb(57, 202, 176);
}

.not_done{
    color: red;
}

.cerchio {
    display: inline-block;
    height: 18px;
    width: 18px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    font-size: small;
}

.paragrafo {
    padding: 5px;
}
#logo {
    padding: 10px;
}

#div_logo {
    height: 2cm;
}

#sfondo_pagina {
    background-color: rgb(246, 248, 249);
    padding: 1cm;
}

#box_lista {
    width: 70%;
    background-color: white;
    margin: auto;
    margin-top: 1cm;
    padding: 10px 0px 0px 0px;
    border-radius: 7px 7px 0 0
}

#box_add_task {
    background-color: rgb(20, 170, 245);
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    }

#box_add_section {
    display: inline-block;
    border: 1px solid lightgrey;
    padding: 4px;
    border-radius: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}